---
import { Image } from 'astro:assets';
import Link from '../components/Link.astro';

import Layout from '../layouts/main.astro';
---

<Layout
  title="Muhammad Farhan Abiyyullah"
  description="Want to know more about Muhammad Farhan Abiyyullah? This is the website where he pours all of his thoughts and experiences into paragraphs. Farhan is a software engineer, tech lead, and entrepreneur."
>
  <main
    class="flex flex-col gap-y-16 justify-end min-h-screen mx-auto pt-36 w-full lg:gap-y-0"
  >
    <div class="px-6 max-w-sm self-center sm:max-w-lg lg:px-8">
      <div class="text-center">
        <p
          class="mt-6 text-xl font-light text-white tracking-tight sm:text-2xl"
        >
          404 Page Not Found
        </p>
        <h1
          class="mt-2 text-5xl font-semibold text-gray-100 tracking-tight sm:text-6xl"
        >
          Lost in space?
        </h1>
        <p class="mt-2 text-lg text-white md:text-xl">
          Wandering around can be fun, but I couldn't find the page you're
          looking for.
        </p>
        <div class="mt-6">
          <Link href="/" class="font-light text-lg md:text-xl"
            >Go back home<span aria-hidden="true"> &rarr;</span>
          </Link>
        </div>
      </div>
    </div>
    <Image
      src="/images/astronaut-floating.webp"
      alt="An astronaut floating in the space"
      widths={[192, 341, 700]}
      sizes="(max-width: 800px) 100vw, 800px"
      width={700}
      height={700}
      loading="eager"
      class="self-end"
    />
  </main>
</Layout>
