<section id="about" class="bg-neutral-900 flex justify-center">
  <div
    class="flex flex-col max-w-screen-2xl px-0 py-16 justify-center sm:px-16 lg:justify-center lg:flex-row"
  >
    <div
      class="flex flex-col px-8 place-content-center items-start max-w-2xl tracking-wide gap-y-8 text-white sm:px-0"
    >
      <h2 class="text-left text-5xl font-light md:text-6xl">About</h2>
      <p class="text-xl font-light md:text-2xl">
        I have always been interested in technology and started programming when
        I was just a kid. I loved the challenge of creating something from
        nothing and seeing my programs come to life.
      </p>
      <p class="text-xl font-light md:text-2xl">
        I pursued my passion for technology by getting a degree in electrical
        engineering and then went on to work in the software engineering field.
      </p>
      <p class="text-xl font-light md:text-2xl">
        I have been working as a software engineer for about 3 years now, and
        have gained a lot of experience and knowledge. I am currently working as
        a software engineer at
        <a
          href="https://glints.com"
          class="underline hover:decoration-2"
          target="_blank"
          rel="noopener noreferrer"
        >
          Glints</a
        >, and am responsible for the development of several software products.
      </p>
      <p class="text-xl font-light md:text-2xl">
        Furthermore, I enjoy spending time with my family, hiking, music
        producing, and playing video games in my spare time.
      </p>
    </div>
  </div>
</section>
