<section id="about" class="flex justify-center">
  <div
    class="flex flex-col max-w-screen-2xl px-0 py-16 justify-center sm:px-16 lg:justify-center lg:flex-row"
  >
    <div
      class="flex flex-col px-8 place-content-center items-start max-w-2xl tracking-wide gap-y-8 text-white sm:px-0"
    >
      <h2 class="text-left text-4xl md:text-5xl">About</h2>
      <p class="text-xl font-light md:text-2xl">
        I have always been interested in technology and started programming when
        I was just a kid. I loved the challenge of creating something from
        nothing and seeing my programs come to life.
      </p>
      <p class="text-xl font-light md:text-2xl">
        Not only that, but I pursued my passion for technology by getting a
        degree in electrical engineering and then went on to work in the
        software engineering field.
      </p>
      <p class="text-xl font-light md:text-2xl">
        I have been working as a software engineer for about 3 years now, and
        have gained a lot of experience and knowledge. I am currently working as
        a software engineer at
        <a href="https://glints.com" target="_blank" rel="noopener noreferrer">
          Glints</a
        >, and am responsible for the development of several software products.
      </p>
      <p class="text-xl font-light md:text-2xl">
        In my spare time, I enjoy spending time with my family, traveling, music
        producing, playing video games, and continuing to write unfinished sente<span
          class="border-r-2 border-r-neutral-100 animate-blink"></span><span
          class="px-1 py-[0.1rem] rounded-sm bg-white text-[0.6rem] text-black align-super animate-fade-out opacity-0 hover:opacity-100"
          >Muhammad Farhan Abiyyullah</span
        >
      </p>
    </div>
  </div>
</section>
